<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %></title>
</head>
<body class="bg-white text-black">
    <header class="bg-white text-black py-4">
        <div class="container flex items-center justify-items-stretch">
            <div class="flex items-center space-x-4 logo-container">
                <img src="/images/logo.png" alt="Logo" class="h-12 w-12 rounded-full">
                <span class="text-4xl font-bold animated-title">Crypto Dash</span>
            </div>

            

            <nav class="flex-1 flex justify-center space-x-4">
                <a href="/" class="hover:text-blue-300">Home</a>
                <a href="#" id="toggle-watchlist" class="hover:text-blue-300">Watchlist</a>
                <a href="/about" class="hover:text-blue-300">About</a>
                <a href="#" id="toggle-global-market" class="hover:text-blue-300">Global Market Insights</a>
            </nav>

            <form action="/search" method="GET" class="flex items-center ml-auto">
                <input type="text" class="text-black p-2 rounded-l w-60 lg:w-80" name="query" placeholder="Search for a cryptocurrency..." required>
                <button type="submit" class="bg-blue-600 p-2 rounded-r hover:bg-blue-700">Search</button>
            </form>
        </div>
    </header>
</body>
